body {
    display:flex; 
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url("bingo.jpg");
    color: white;
    font-size: media;
    max-height: 750px;
    max-width: 1600px;
    
}

.general {
    border-radius: 50%;
    background-color: blue;
    max-width: 500px;
    min-width: 400px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgb(38, 38, 126);
    margin: 5px;
    

}

#res {
    min-height: 40px;
    min-width: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
    background-color: white;
    border-radius:50%;
    padding: 20px;
}

#lista { 
    font-weight: 900;
    padding: 10px; 
}


h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 2px;
}

button {
    border-radius: 15px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px;
    padding:5px 8px;
}

button:hover {
    background-color: purple;
}

button #reset{
    display: flex;
    align-items: center;
}

a{
    color: rgb(250, 250, 250);
    font-weight: 100;
    font-size: small;
}
a:visited{
    color:rgb(220, 101, 231)
}
